.App {
  text-align: center;
}

/* FROM DEFAULT CREATE-APP - can take as reference

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

button {
  font-family: var(--primary-font);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: var(--def-font-weight);
  font-size: var(--def-font-size);
  line-height: var(--def-line-height);
  text-transform: var(--preferred-text-transform);
}

/* SHARED STYLING */
/* GLASSMORPHISM - shared among multiple boxes */
.glassmorphism {
  background: rgba(0, 0, 0, 0.2);

  box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(43px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}

/* Horizontal Flex Box Style - used at e.g. main buttons, content boxes */
.horz-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
}

/* Vertical Flex Box Style - used at e.g. widgets, checkin emoticons, theme choices, etc. */
.vert-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  gap: 24px;
}

/* REST MODE */

/*also use for welcome, greetings, etc*/
.affirmation-frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  position: absolute;
  width: 880px;
  height: 125px;
  left: 100px;
  top: 274px;
  border-radius: 40px;
}

.affirmation {
  width: 800px;
  height: 65px;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

.start-btn-frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  position: absolute;
  width: 800px;
  height: 150px;
  left: 140px;
  top: 1628px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(67.955px);  
  border-radius: 40px;
}

.start-btn-text {
  width: 720px;
  height: 52px;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
}

#ok{
  color: #FFC288;
}

.widget{
  position: absolute;
  width: 491px;
  height: 52px;
  left: 50px;
  top: 20px;
}

.date-time{
  position: absolute;
  width: 340px;
  height: 47px;
  left: 50px;
  top: 20px;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.widget{
  position: fixed;
  width: 518px;
  height: 47px;
  left: 50px;
  top: 20px;
}

.weather {
  position: absolute;
  width: 114px;
  height: 47px;
  left: 454px;
  top: 20px;
}

#theme {
  width: 142px;
  height: 23px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  font-size: 50px;
  color:#FFFEFC;
}

.settings {
  position: absolute;
  width: 133px;
  height: 113px;
  left: 20px;
  top: 848px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DAILY CHECKIN*/

.checkin-col{
  position: absolute;
  width: 354px;
  height: 1555px;
  left: 363px;
  top: 528px;
}

.checkin-card{
  width: 350px;
  height: 437px;
  background: #5A5A5A;
  backdrop-filter: blur(67.955px);
  border-radius: 40px;
}

/* HOME SCREEN STYLING */

.feature-col {
  gap: 29px;
  padding: 0px;
  justify-content: center;
  
  position: absolute;
  left: 77.78%;
  right: 0.66%;
  top: 20%;
  bottom: 55%;
}

.feature-button{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 40px;
  gap: 20px;

  width: 310px;
  height: 154px;

  border-radius: 40px;
}

.exit{
  color:#FFFEFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 9%;
  height: 8%;
  left: 90%;
  top: 55%;
  right: 12%;

}
  
/*EXPOSURE THERAPY*/

.guide{
  width: 578px;
  height: 470px;
  font-family: 'Karla';
  font-style: normal;

  flex: none;
  order: 0;

  position: absolute;
  width: 658px;
  height: 530px;
  left: 427px;
  top: 231px;

  margin: 50px;
}

#timer{
  width: 136px;
  height: 137px;
}

/*SETTINGS*/
/*still need shortening*/

.settings-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 234px;
  height: 107px;
  left: 639px;
  top: 86px;
}

.change-theme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;

  position: absolute;
  width: 306px;
  height: 154px;
  left: 603px;
  top: 597px;
}

.preg-row{
  position: flex;
  width: 672px;
  height: 157px;
  left: 420px;
  top: 288px;
}

#preg-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 306px;
  height: 154px;
  left: 420px;
  top: 288px;
  
}

#postpar-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 306px;
  height: 154px;
  left: 786px;
  top: 291px;
}

.therapy-session{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  top: 20%; 
}

/* New styling starting with intro page */

.heading-frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  position: absolute;
  width: 880px;
  height: 268px;
  left: 100px;
  top: 240px;
  border-radius: 40px;
}

.intro-guide-text{
  width: 800px;
  height: 208px;
  font-size: 80px;
  line-height: 104px;
  text-align: center;
  font-feature-settings: 'salt' on; 
}

.pink-text{
  color: #F87A8F;
}

.yellow-text{
  color: #FFC288;
}

.subhead{
  position: absolute;
  width: 700px;
  height: 195px;
  left: 190px;
  top: 782px;

  font-style: italic;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

.material-symbols-outlined{
  position: absolute;
  width: 90px;
  height: 45px;
  left: 495px;
  top: 620px;
}

.center-btn{
  left: 420px;
  top: 1290px;
}


.bottom-middle-btn{
  position: absolute;
  left: 388px;
  top: 2116px;  
}

.bottom-right-btn{
  position: absolute;
  width: 240px;
  height: 240px;
  left: 715px;
  top: 2195px;
}

.button-outer-frame{
  position: absolute;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #645CAA;
}

.button-inner-frame{
  position: absolute;
  left: 9.33%;
  right: 9.33%;
  top: 9.67%;
  bottom: 9%;
  border-radius: 50%;
  background: rgba(32, 32, 32, 0.2);
}

.button-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 10px;
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  border-radius: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 132px;

  position: absolute;
  width: 879px;
  height: 1164px;
  left: 100px;
  top: 782px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 65px;
  
  width: 879px;
  height: 300px;
}

.col-1 {
  flex-basis: 50%;
}

.col-2 {
  text-align: left;
  width: 514px;
  height: 260px;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  text-transform: lowercase;
  font-feature-settings: 'salt' on;
}

.head-intro-frame {
  position: absolute;
  width: 880px;
  height: 372px;
  left: 100px;
  top: 156px;  
}

.subhead-intro-frame{
  position: absolute;
  width: 700px;
  height: 65px;
  left: 190px;
  top: 603px;
}
