.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* REST MODE */

.affirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;

  position: absolute;
  width: 521px;
  height: 107px;
  left: 485px;
  top: 105px;

  /* Glassmorphism */

  background: rgba(0, 0, 0, 0.2);
  /* Glassmorphism */

  box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(43px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}

.okButton {
  /* TEXT -- SIMPLIFY IF FIGURE IT OUT*/

  width: 304px;
  height: 47px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

  text-align: center;
  text-transform: lowercase;

  color: #FFFEFC;

  flex: none;
  order: 0;
  flex-grow: 0;

  /* FRAME */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;

  position: absolute;
  width: 384px;
  height: 107px;
  left: 564px;
  top: 818px;

  background: rgba(0, 0, 0, 0.2);

  box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(43px);

  border-radius: 40px;
}