.App {
  text-align: center;
}

/* FROM DEFAULT CREATE-APP - can take as reference

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

button {
  font-family: var(--primary-font);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: var(--def-font-weight);
  font-size: var(--def-font-size);
  line-height: var(--def-line-height);
  text-transform: var(--preferred-text-transform);
}

/* SHARED STYLING */
/* GLASSMORPHISM - shared among multiple boxes */
.glassmorphism {
  background: rgba(0, 0, 0, 0.2);

  box-shadow: inset 0px 0px 68px rgba(255, 255, 255, 0.05), inset 0px 4px 4px rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(43px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}

/* Horizontal Flex Box Style - used at e.g. main buttons, content boxes */
.horz-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
}

/* Vertical Flex Box Style - used at e.g. widgets, checkin emoticons, theme choices, etc. */
.vert-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  gap: 24px;
}

/* REST MODE */

/*also use for welcome, greetings, etc*/
.affirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 622px;
  height: 107px;
  left: 445px;
  top: 86px;
}

.okButton {
  /* <!> For some reason does not inherit css properties of <body> */
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-size: var(--def-font-size);

  position: absolute;
  width: 384px;
  height: 107px;
  left: 564px;
  top: 818px;
}

#ok{
  color: #FFC288;
}

.widget{
  position: absolute;
  width: 518px;
  height: 47px;
  left: 50px;
  top: 20px;
}

.date-time{
  position: absolute;
  width: 340px;
  height: 47px;
  left: 50px;
  top: 20px;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.widget{
  position: fixed;
  width: 518px;
  height: 47px;
  left: 50px;
  top: 20px;
}

.weather {
  position: absolute;
  width: 114px;
  height: 47px;
  left: 454px;
  top: 20px;
}

#theme {
  width: 142px;
  height: 23px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  font-size: 50px;
  color:#FFFEFC;
}

.settings {
  position: absolute;
  width: 133px;
  height: 113px;
  left: 20px;
  top: 848px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DAILY CHECKIN*/

.checkin-row{
  position: absolute;
  width: 1216px;
  height: 519px;
  left: 148px;
  top: 314px;  
}


#skip-button{
  position: absolute;
  width: 366px;
  height: 107px;
  left: 1126px;
  top: 855px;
}

/* HOME SCREEN STYLING */

.feature-col {
  gap: 29px;
  padding: 0px;
  justify-content: center;
  
  position: absolute;
  left: 77.78%;
  right: 0.66%;
  top: 20%;
  bottom: 55%;
}

.feature-button{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 40px;
  gap: 20px;

  width: 310px;
  height: 154px;

  border-radius: 40px;
}

.exit{
  color:#FFFEFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 9%;
  height: 8%;
  left: 90%;
  top: 55%;
  right: 12%;

}
  
/*EXPOSURE THERAPY*/

.guide{
  width: 578px;
  height: 470px;
  font-family: 'Karla';
  font-style: normal;

  flex: none;
  order: 0;

  position: absolute;
  width: 658px;
  height: 530px;
  left: 427px;
  top: 231px;

  margin: 50px;
}

#timer{
  width: 136px;
  height: 137px;
}

/*SETTINGS*/
/*still need shortening*/

.settings-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 234px;
  height: 107px;
  left: 639px;
  top: 86px;
}

.change-theme{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;

  position: absolute;
  width: 306px;
  height: 154px;
  left: 603px;
  top: 597px;
}

.preg-row{
  position: flex;
  width: 672px;
  height: 157px;
  left: 420px;
  top: 288px;
}

#preg-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 306px;
  height: 154px;
  left: 420px;
  top: 288px;
  
}

#postpar-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  
  position: absolute;
  width: 306px;
  height: 154px;
  left: 786px;
  top: 291px;
}

.therapy-session{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  top: 20%; 
}

/* New styling starting with intro page */

.intro-guide-frame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 20px;
  position: absolute;
  width: 880px;
  height: 268px;
  left: 100px;
  top: 240px;
  border-radius: 40px;
}

.intro-guide-text{
  width: 800px;
  height: 208px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 104px;
  font-feature-settings: 'salt' on; 
  color: #FFFEFC;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.pink-text{
  color: #F87A8F;
}

.yellow-text{
  color: #FFC288;
}

.inform{
  position: absolute;
  width: 700px;
  height: 195px;
  left: 190px;
  top: 782px;

  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
}

.material-symbols-outlined{
  position: absolute;
  width: 90px;
  height: 45px;
  left: 495px;
  top: 620px;
}

.button-outer-frame{
  position: absolute;
  width: 240px;
  height: 240px;
  left: 420px;
  top: 1290px;
  border-radius: 50%;
  background: #645CAA;
}

.button-inner-frame{
  position: absolute;
  left: 9.33%;
  right: 9.33%;
  top: 9.67%;
  bottom: 9%;
  border-radius: 50%;
  background: rgba(32, 32, 32, 0.2);
}

.button-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 10px;

  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;

  border-radius: 40px;
}