:root {
  /*global variables*/
  --main-text-color: #FFFEFC; 
  --main-bg-color: #000;

  --primary-font: "DM Sans";
  --secondary-font: "Roboto"; /* to vary the style if needed */
  --def-font-style: normal;   /* not italics or oblique from font-family */
  --def-font-size: 40px;
  --def-font-weight: 500;
  --def-line-height: 47px;
  --preferred-text-transform: lowercase;
  --align-text-align: center;
  --font-feature-settings: 'salt' on;
}

body {
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--primary-font);
  font-weight: var(--def-font-weight);
  font-size: var(--def-font-size);
  line-height: var(--def-line-height);
  text-transform: var(--preferred-text-transform);
  text-align: var(--align-text-align);
  font-feature-settings: var(--font-feature-settings);
  /*
  font-family: -apple-system, "Karla";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

code {
  font-family: var(--primary-font);
}