:root {
  /* color: #FFFEFC;
  background: #000;

  font-family: "Karla";
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-transform: lowercase; */

  --letter-color: #FFFEFC; /*global variable*/
  background: #000;

  --primary-font-family: "Karla";
  font-style: normal;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  text-transform: lowercase;
}

body {
  margin: 0;
  font-family: var(--primary-font-family);
  /*
  font-family: -apple-system, "Karla";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

code {
  font-family: var(--primary-font-family);
}
